@using Umbraco.Cms.Core.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- news-update-section -->

<section class="news-update">
    <div class="container">
        <div class="signup-news">
            <h2>Get News Update By Signup</h2>
            <div class="signup-for-news">
                <form action="">
                    <input class="style-input" type="email" placeholder="username@domain.com" >
                </form>
                <div><a class="btn-yellow" href="login.html">Subscribe <i class="fa-regular fa-arrow-up-right"></i></a></div>
            </div>
        </div>               
    </div>
    @{
        var newsUpdateSignUpImage = Model.Value<MediaWithCrops>("newsUpdateSignUpImage");
        if (newsUpdateSignUpImage != null)
            {
                <img src="@newsUpdateSignUpImage.MediaUrl()" alt="" />
            }
    }
</section>

